@model List<Course>
@{
    ViewData["Title"] = "Search";
}

<h2>Courses Found</h2>

<table class="table table-bordered table-hover">

    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Degree</th>
    <th>MinDegree</th>
    <th>Department</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Degree</td>
                <td>@item.MinDegree</td>
                <td>@item.Department.Name</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-controller="Course" asp-route-Id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Course" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>


  <a asp-action="Index" asp-controller="Course" class="btn btn-success">Return To Index</a>


